<h2>About Diabetes</h2>
<ul>
    <li id="row1">
        <p id = "diabetes">
        <span class="subheading">What is Diabetes?</span><br>
        Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy.
        </p>
        <img id="diabetes-and-healthy-pic" src="/media/diabetes-and-healthy-lifestyle.jpeg" alt="picture">
    </li>
</ul>
<p id="symptoms-causes">
    <span class="subheading">Symptoms & Causes<br></span>
    The main cause of diabetes is being overweight and leading an inactive lifestyle.</p>
<p id="diabetes-video-p">
    <iframe id="diabetes-video" width="560" height="315" src="https://www.youtube.com/embed/wZAjVQWbMlE" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</p>
<p id = "risk">
    <span class="subheading">Risk Factors</span><br>
    The more weight you gain, the more likely
    that your fatty tissue could become resistant to insulin.</p>
<p id = "prevent"><span class="subheading">Preventing Diabetes</span><br>
    The single best step to avoid diabetes
    is to cut your intake of sugars.</p>
<p id="further-reading"><span class="subheading">Links for Further Reading</span><br>
    <a href="https://www.healthline.com/nutrition/prevent-diabetes" style="text-decoration: none">Prevent Diabetes - healthline.com</a><br>
    <a href="https://medlineplus.gov/howtopreventdiabetes.html" style="text-decoration: none">How to Prevent Diabetes - medlineplus.gov</a><br>
</p>