<h2>About This Website</h2><br>
<p class = "about-website" style="text-align: left;">
    This website allows people to manage their diabetes from the convenience of their own home. There is general information on diabetes and some information on the necessary steps back to a healthy lifestyle.
</p><br>
<p class = "about-website" style="text-align: left;">
Once your clinician has created your account, you can use the features of the website by logging in at the homepage.  You can enter your health data daily and view it over time.  Your clinician is also be able to post messages for you to view.
</p><br>
<p id = "website-author" style="text-align: left;">
    This website was created by:<br>
    Adam Gow - Qianyun Shen - Weihou Chen - Ziang Ye
</p>